@using System.Collections.Generic;
@using Oratr.Models;
@model IEnumerable<Speech>

@{
    ViewBag.Title = "Index";
}
<!--2 actions on this page link to list, and link to setWPM-->
<h2>Here are 2 options</h2>

<div>@Html.ActionLink("See Speeches", "Speeches")</div>
<div>@Html.ActionLink("Set WPM", "SetWPM")</div>