@using System.Collections.Generic;
@using Oratr.Models;
@model IEnumerable<Speech>

@{
    ViewBag.Title = "Index";
}

<h2>Here's an option or two</h2>


<div>
    @Html.ActionLink("View Speeches", "List")
</div>
<div>
    @Html.ActionLink("Set WPM", "SetWPM")
</div>
