@using System.Collections.Generic;
@using Oratr.Models;
@model IEnumerable<Speech>

@{
    ViewBag.Title = "Speeches";
}

<h2>Speeches</h2>

@foreach (var item in Model)
{
    <h4>@item.SpeechTitle</h4>
}
